<%-include('../partials/_navbar.ejs') %>
<link rel="stylesheet" href="/stylesheet/style.css" />

<h1 class="edit-pet-header">Edit you pet's info</h1>
<div class="edit-pet-container">
  <form action="/pets/<%=pet._id %>?_method=PUT" method="post">
    <label>Pet Name:</label>

    <input type="text" name="petName" value="<%=pet.petName %>" required />
    <br />
    <label>Species:</label>
    <select name="species" id="species" required>
      <option value="cat">Cat</option>
      <option value="dog">Dog</option>
      <option value="bird">Bird</option>
      <option value="horse">Horse</option>
      <option value="hamster">Hamster</option>
      <option value="other">Other</option>
    </select>
    <br />
    <label>Breed: </label>
    <input type="text" name="breed" value="<%=pet.breed %>" required />
    <br />
    <button type="submit">Update info</button>
  </form>
</div>
<%-include("../partials/_footer.ejs") %>
