<%-include("../partials/_navbar.ejs")  %>
<link rel="stylesheet" href="/stylesheet/style.css">
<h2 class="show-header">Details</h2>
<div class="show-info">
<p>Pet Name: <%= pet.petName %></p>
<p>Pet Specie: <%= pet.species %></p>
<p>Pet Breed: <%= pet.breed %></p>

<form action="/pets/<%= pet._id %>/edit">
  <button>Edit</button>
</form>

<form action="/pets/<%= pet._id %>?_method=DELETE" method="POST">
  <button type="submit">Delete</button>
</form>
</div>
<%-include("../partials/_footer.ejs")  %>
