<%- include("../partials/_navbar.ejs") %>

<link rel="stylesheet" href="/stylesheet/partials.css" />
<link rel="stylesheet" href="/stylesheet/style.css" />

<body class="profile-page">
  <h1 class="profile-header">Edit Appointment</h1>

  <% if (user.role === "Vet") { %>
    <div class="appointment-container">
      <div class="appointment-left">
        <label>Date:</label>
        <p><%= appointment.date.toISOString().split('T')[0] %></p>

        <label>Time:</label>
        <p><%= appointment.time %></p>

        <label>Reason:</label>
        <p><%= appointment.reason %></p>

        <form action="/user/appointments/<%= appointment._id %>?_method=DELETE" method="POST">
          <div class="book-btn-container">
            <button type="submit" class="book-btn">Delete Appointment</button>
          </div>
        </form>
      </div>
    </div>

  <% } else if (user.role === "User") { %>

  <div class="appointment-container">
    <form
      id="editAppointmentForm"
      action="/user/appointments/<%= appointment._id %>?_method=PUT"
      method="POST"
      class="appointment-form"
    >
      <div class="appointment-left">
        <label for="petId">Choose your Pet:</label>
        <select name="petId" id="petId" required>
          <% pets.forEach(pet => { %>
          <option value="<%= pet._id %>" <%= pet._id.equals(appointment.petId._id) ? "selected" : "" %>>
            <%= pet.petName %> - <%= pet.species %>
          </option>
          <% }) %>
        </select>

        <!-- https://stackoverflow.com/questions/47066555/remove-time-after-converting-date-toisostring --> <!-- A link I found to display the date in the field, apparently ToLocaleString() doesn't work -->
        <label for="date">Select Date:</label>
        <input
          type="date"
          name="date"
          id="date"
          value="<%= appointment.date.toISOString().split('T')[0] %>"
          required
        />

        <label for="time">Select Time:</label>
        <input
          type="time"
          name="time"
          id="time"
          value="<%= appointment.time %>"
          required
        />
      </div>

      <div class="appointment-right">
        <label for="reason">Reason:</label>
        <textarea
          name="reason"
          id="reason"
          rows="8"
          placeholder="Describe your pet’s condition..."
          required
        ><%= appointment.reason %></textarea>

        <div class="book-btn-container">
          <button type="submit" class="book-btn">Update Appointment</button>
        </div>
      </div>
    </form>
      <div class="delete-appointment-container" style="justify-content:center;">
    <form
      action="/user/appointments/<%= appointment._id %>?_method=DELETE"
      method="POST"
    >
      <div class="delete-btn-container">
        <button type="submit" class="delete-btn">Delete Appointment</button>
      </div>
    </form>
  </div>
  </div>

  <% } %>

  <%- include("../partials/_footer.ejs") %>
</body>
