<!DOCTYPE html>
<html>
  <head>
    <title>My Appointments</title>
  </head>
  <body>
    <h1>My Appointments</h1>

    <% if (appointments?.length === 0) { %>
    <p>No appointments booked yet.</p>
    <% } else { %>
    <table>
      <tr>
        <th>Pet Name</th>
        <th>Species</th>
        <th>Breed</th>
        <th>Date & Time</th>
        <th>Reason</th>
      </tr>
      <% appointments.forEach(appointment => { %>
      <tr>
        <td><%= appointment.petId.petName %></td>
        <td><%= appointment.petId.species %></td>
        <td><%= appointment.petId.breed %></td>
        <td><%= appointment.date.toLocaleString()%></td>
        <td><%= appointment.time%></td>
        <td><%= appointment.reason %></td>
        <td><a href="./editAppointments"><button>Edit</button></a></td>
      </tr>
      <% }) %>

    </table>
    <% } %>

    <a href="/auth/home.ejs">← Back to Home</a>
  </body>
</html>
