<%if(user.role === "Vet"){%>
<table>
  <% vetAppointments.forEach(vetAppointment => { %>
  <tr>
    <td><%= vetAppointment.petId.petName %></td>
    <td><%= vetAppointment.petId.species %></td>
    <td><%= vetAppointment.petId.breed %></td>
    <td><%= vetAppointment.date.toLocaleDateString()%></td>
    <td><%= vetAppointment.time %></td>
    <td><%= vetAppointment.reason %></td>
    <td class="actions">
      <a href="/user/appointments/<%= vetAppointment._id %>/edit">Edit</a>
    </td>
  </tr>
</table>
<% })}else if(user.role === "User"){ %> <% if (!appointments ||
appointments.length === 0) { %>
<p>No appointments booked yet.</p>
<% } else { %>
<table>
  <tr>
    <th>Pet Name</th>
    <th>Species</th>
    <th>Breed</th>
    <th>Date</th>
    <th>Time</th>
    <th>Reason</th>
    <th>Actions</th>
  </tr>

  <% appointments.forEach(appointment => { %>
  <tr>
    <td><%= appointment.petId.petName %></td>
    <td><%= appointment.petId.species %></td>
    <td><%= appointment.petId.breed %></td>
    <td><%= appointment.date.toLocaleDateString()%></td>
    <td><%= appointment.time %></td>
    <td><%= appointment.reason %></td>
    <td class="actions">
      <a href="/user/appointments/<%= appointment._id %>/edit">Edit</a>
    </td>
  </tr>
  <% })}} %>
</table>
